[Unit]
Description=Heapster Agent Service
After=docker.service
Requires=docker.service
After=influxdb.service
Requires=influxdb.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=10m
Restart=always
ExecStartPre=-/usr/bin/mkdir -p /home/core/heapster
ExecStartPre=-/usr/bin/docker kill heapster-agent
ExecStartPre=-/usr/bin/docker rm -f heapster-agent
ExecStartPre=-/bin/mkdir /home/core/heapster
ExecStartPre=-/bin/touch /home/core/heapster/hosts
ExecStartPre=/usr/bin/docker pull vish/heapster-buddy-coreos
ExecStart=/usr/bin/docker run \
  --name heapster-agent \
  --volume /home/core/heapster:/var/run/heapster \
  vish/heapster-buddy-coreos \
  "-endpoints=http://${COREOS_PRIVATE_IPV4}:4001"
ExecStop=/usr/bin/docker stop -t 2 heapster-agent

[X-Fleet]
MachineOf=influxdb.service