[Unit]
Description=Jenkins backup timer
After=docker.service
Requires=docker.service

[Timer]
OnCalendar=10m

[X-Fleet]
MachineOf=backup-jenkins.service