[Unit]
Description=Jenkins Service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Run and stop
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/etcdctl mkdir /services/nginx/jenkins/
ExecStartPre=-/usr/bin/etcdctl mkdir /services/nginx/jenkins/servers/
ExecStartPre=/usr/bin/etcdctl set /services/nginx/jenkins/root 'jenkins.coreos1.appunite.net'
ExecStartPre=/usr/bin/docker pull jacekmarchwicki/jenkins
ExecStart=/usr/bin/docker run --volumes-from jenkins-volume.service \
  --privileged \
  --link squid.service:squid \
  --volume /var/lib/docker:/var/lib/docker \
  --name %n \
  --publish ${COREOS_PRIVATE_IPV4}:10001:8080 \
  jacekmarchwicki/jenkins \
  run.sh
ExecStartPost=/usr/bin/etcdctl set /services/nginx/jenkins/servers/1 "{\"ip\": \"${COREOS_PRIVATE_IPV4}\", \"port\": \"10001\"}"

ExecStopPre=/usr/bin/etcdctl rm /services/nginx/jenkins/servers/1
ExecStop=/usr/bin/docke stop %n

[X-Fleet]
MachineOf=jenkins-volume.service
MachineOf=squid.service
