[Unit]
Description=Jenkins volume Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
Type=oneshot

ExecStart=-/usr/bin/docker run --volume /jenkins --name %n busybox true
ExecStop=/usr/bin/docker stop %n

[X-Fleet]
MachineID=85945e91c59d43beb058193ce59e8b5e