[Unit]
Description=Gitlab CI Redis
After=docker.service
Requires=docker.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Run and stop
ExecStartPre=-/usr/bin/docker kill gitlab-redis
ExecStartPre=-/usr/bin/docker rm gitlab-redis
ExecStartPre=/usr/bin/docker pull sameersbn/redis:latest
ExecStart=/usr/bin/docker run \
  -rm \
  --name gitlab-redis \
  --volume /opt/redis/data:/var/lib/redis \
  sameersbn/redis:latest

ExecStop=/usr/bin/docker stop gitlab-redis

[X-Fleet]
MachineID=f7e216431efa45b89b287fa3e2c1e0e3
